* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
img {
  width: 100%;
}

.section2 img {
  width: 100%;
}
.section2 .img-2 {
  aspect-ratio: 2/2;
}

.section3 img {
  aspect-ratio: 1.2;
}

.section4 .img-2 {
  aspect-ratio: 2.67/2;
}
.section4 .img-3 {
  aspect-ratio: 2.69/2;
}


.section9{
    overflow-x: hidden;
}
.contact-form {
  background: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.submit-button {
  background: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}
.submit-button:hover {
  background: #0056b3;
}
.social-links a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.2em;
}
.faq-item {
  text-align: left;
  margin-bottom: 20px;
}


footer li{
 list-style: none;
}